<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.kongqw.permissionslibrary">

    <application
        android:allowBackup="true"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".RequestPermissionsActivity"
            android:exported="false"
            android:theme="@style/Transparent" />
    </application>

</manifest>